<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
</head>

<body>
    <header>
        <h1>b<span>U</span>ckets</h1>
        <h2>a bucket list app built with node</h2>
    </header>
    
    <section class="form">
        <input type="text" id="bucketInput" placeholder="What's on your list?"/>
    </section>
    
    <ul class="list">
        
    </ul>
    
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="app.js"></script>
</body>